/* css reset */

*{
margin:0;
padding:0;
box-sizing: border-box;
}

img{
    height: 100%;
}


/* header */

header{
    background-color: lightblue;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.head-bar{
    display: flex;
    max-width: 1500px;
}

.head-bar>div{
    height: 50px;
    background-color: goldenrod;
    border: 1px dashed black;
}

.logo-head, .login{
    width: 200px;
}

.links{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.links>a{
    text-decoration: none;
    padding: 0 10px;
}

.login{
    text-align: right;
    line-height: 50px;
}


/* blue section */

.blue-section{
    background-color: blue;
    height: 400px;
    display: flex;
    align-items: center;
}

.blue-section>div{
    width: 800px;
    height: 300px;
    background-color:rgb(235, 76, 179) ;
    border: 1px dashed black;
    margin: auto;
}


/* white section */

.white-section{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-section>.left-col{
    width: 600px;
    height: 300px;
    background-color: rgb(0, 140, 255);
    border: 1px dashed black;
}

.white-section>.right-col{
    width: 400px;
    height: 300px;
    background-color: pink;
    border: 1px dashed black;

}


/* gray-section */

